# don't really need, but convenient
python-dotenv

huggingface_hub[inference]
markdownify
# litellm for local ollama models
## ollama local models
smolagents[litellm]
requests
duckduckgo_search
pandas
# langchain examples
## retrievers
langchain-community
rank_bm25
## ollama local models
langchain-ollama
plotly
geopandas
shapely
kaleido
#llama-index (every integration is a separate package)
llama-index-llms-ollama # ollama local model
llama-index-llms-openai # openai api
llama-index-tools-duckduckgo
llama-index-retrievers-bm25
# langgraph
langgraph
#rag
datasets
#gaia benchmark demo
pymediawiki #wikipedia searches
# trying out things
persistent-cache-decorator
